@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents
3. Order properties alphabetically inside each declaration
4. Declaration selectors should each occupy a new line
5. Enter one new line between declarations
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
1.1 - Headings
-------------------------------------------------------------- */
h1, h2 {
	color:#C7DA35;
}

h1, h2, h3, h4, a, button {
	text-transform:uppercase;
}

h1, h3 {
	margin-bottom:0;
}

h1 {
	font-size:5rem;
}

h2 {
	font-size:3rem;
	font-weight:bold;
}

h3 {
	font-size:1.25rem;
}

dt {
	font-size:1.25rem;
	margin-top:1rem;
}

dd {
	font-style:italic;
	font-size:1rem;
	margin:0 auto;
}
/*--------------------------------------------------------------
1.2 - Body Copy
-------------------------------------------------------------- */
html {
	font-family: 'Arimo', sans-serif;
	text-align:center;
	color:white;
}

body {
	font-size:.75rem;
}

header p {
	font-size:1.5rem;
}

#services {
	color:#D5E6A9;
}
/*--------------------------------------------------------------
1.3 - Buttons
-------------------------------------------------------------- */
a {
	text-decoration: none;
	color:#3B4D61;
}

a:hover {
	color:#C7DA35;
}

#hero, #hero a, #hero a:hover, form a {
	padding:1rem;
}

#hero a, #hero a:hover, form a {
	margin:.75rem;
	padding-top: 1rem;
	color:white;
}
	
#hero a, form a  {
    background-color: #171F27;
}

form a {
	margin-left:15.25rem;;

}

#hero a:hover, button a:hover, form a:hover {
	color:#171F27;
	background-color:#C7DA35;
}

#media a, #hero a, #hero a:hover, form a {
	display:inline-block;
} 

#media a {
	width:1.5rem;
	height:1.5rem;
	margin:.3rem;
}

#media li:first-child a {
	background:url(../img/facebook.png) no-repeat 0 0;
}

#media li:nth-child(2) a {
	background:url(../img/twitter.png) no-repeat 0 0;
}

#media li:last-child a {
	background:url(../img/linkedin.png) no-repeat 0 0;
}
#media li a:hover {
	background-position:0 -22px;
}
/*--------------------------------------------------------------
1.4 - Forms
-------------------------------------------------------------- */
form {
	width:20rem;;
	text-align:left;
	display:block;
	text-transform:uppercase;
	margin-left:11rem;
}

form ul {
	margin-left: -50px;
}

fieldset {
    border: 0;
}

input, textarea {	
	color:white;
	background-color:#171F27;
	width:18rem;
	margin:.75rem;
	height:1.5rem;
}

input, textarea , label, footer ul li {
	display:block;
}

input:focus, textarea:focus, .btn:focus {
	outline: none;
}
/*--------------------------------------------------------------
1.5 - Lists
-------------------------------------------------------------- */
header li, footer ul li {
	vertical-align:middle;
	padding:1rem;
}

nav, li {
	text-align:center;
	list-style-type:none;
}

ul {
	padding:0;
}

ul li, header li, footer ul li {
	display:inline-block;
}

form li {
	text-align:left;
	padding-left:.75rem;
}
/*--------------------------------------------------------------
1.6 - Tables
-------------------------------------------------------------- */

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--------------------------------------------------------------
2.1 - Main Menu
-------------------------------------------------------------- */

/*--------------------------------------------------------------
2.2 - Sub Menu
-------------------------------------------------------------- */
/*--------------------------------------------------------------
2.3 - Footer Menu
-------------------------------------------------------------- */
footer li {
	text-align:right;
}
/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*--------------------------------------------------------------
3.1 - Site Structure (Site Header, Advertisement, Site Footer)
-------------------------------------------------------------- */
.wrapper {
	width:100%; /* original width 1170px */
	margin:0 auto;
}
/*--------------------------------------------------------------
3.2 - Section Name
-------------------------------------------------------------- */

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.1 - Background Colors
-------------------------------------------------------------- */
.dark-bg {
	background-color:#171F27;
}

.light-bg {
	background-color:#3B4D61;
}

.dark-bg, .light-bg {
	padding:3.5rem;
}
/*--------------------------------------------------------------
5.2 - Text Colors
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.3 - Text Sizes
-------------------------------------------------------------- */
/*--------------------------------------------------------------
5.4 - Alignments
-------------------------------------------------------------- */




/*--------------------------------------------------------------
COLUMNS
-------------------------------------------------------------- */
*, *:after, *:before { 
	—webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	box-sizing:border-box;  
	border: none;
}

.row:after { 
	content:" "; 
	display:table; 
	clear:both; 
} 

/*  */

[class*="col-"] {
	float:left;
	padding:0 .62rem 1.8rem .62rem;
}

[class*="col-"]:first-of-type {
	padding-left:0;
}

[class*="col-"]:last-of-type {
	padding-right:0;
}

/*  */

.col-1-1 {
	width:100%;
}

.col-1-2 {
	width:50%;
}

.col-1-3 {
	width:33.33%;
}

.col-1-4 {
	width:25%;
}

.col-1-5 {
	width:20%;
}

.col-1-6 {
	width:16.5%;
}

.col-1-7 {
	width:14.2%;
}

.col-1-8 {
	width:12.5%;
}

.col-1-9 {
	width:11.11%;
}

.col-1-10 {
	width:10%;
}

.col-1-11 {
	width:9.09%;
}

.col-1-12 {
	width:8.3%;
}

/* */

.col-2-3 {
	width:66.66%;
}

.col-3-4 {
	width:75%;
}

.col-3-5 {
	width:60%;
}

.col-2-5 {
	width:40%;
}

.col-5-6 {
	width:83.3%;
}

.col-3-7 {
	width:42.8%;
}

.col-4-7 {
	width:57.1%;
}

.col-5-8 {
	width:62.5%;
}

.col-3-8 {
	width:37.5%;
}

.col-7-9 {
	width:77.7%;
}

.col-2-9 {
	width:22.22%;
}

.col-3-10 {
	width:30%;
}

.col-7-10 {
	width:70%;
}

.col-5-11 {
	width:45.4%;
}

.col-6-11 {
	width:54.5%;
}

.col-7-12 {
	width:58.3%;
}

.col-5-12 {
	width:41.6%;
}



@media screen and (max-width:480px) {
	.wrapper {
		width: 95%;
	}
	
	.col-1-2,
	.col-1-3,
	.col-2-3,
	.col-1-4, 
	.col-3-4,
	.col-1-5,
	.col-3-5, 
	.col-2-5,
	.col-1-6,
	.col-5-6,
	.col-1-7,
	.col-3-7,
	.col-4-7, 
	.col-1-8, 
	.col-5-8, 
	.col-3-8, 
	.col-1-9,
	.col-7-9,
	.col-2-9,
	.col-1-10,
	.col-3-10,
	.col-7-10,
	.col-1-11,
	.col-5-11,
	.col-6-11,
	.col-1-12,
	.col-7-12,
	.col-5-12 {
		width:100%;
	}
	
	img {
		max-width:100%;
	}
		
	nav {
		font-size:1.2rem;
	}
	
	footer li, header li {
		padding:.8rem;
	}
	
	footer a {
		text-transform:uppercase;
	}
	
	h1 {
		font-size:3.5rem;
	}
	
	header p {
		font-size:1.25rem;
	}

	h2 {
		font-size:2.75rem;
		font-weight:bold;
	}
		
	h3 {
		font-size:2rem;
	}
	
	h4 {
		font-size:2rem;
	}
	
	h5 {
		font-style:italic;
		font-size:1.5rem;
	}
	
	p {
		font-size:1rem;
	}
	
	form {
		margin:0 auto;
	}
	
	nav ul li {
		display:block;
		text-align:center;
	}
}
